<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  </head>
  <body>
    <div class="main_container">
      <h1 class="title">WhisperKey</h1>
      <span class="subtitle">share links with a whisper</span>
      <div class="container_">
    	 <form name="login" action="users/login" method="post">
		 <b style="color:#555555">URL:</b><input name="user_url" class="form-control" type="text"><br>
  	    <input id="login_submit" type="submit" class="btn btn-primary" value="Whisper it!">
         </form>
      </div>
      <!-- <title><%= title %></title> -->
      <% if (true) { %>

        <div> Your WhisperKey is <%= word %> and localhost:8080/users/new?word=<%= word%> redirects to <%= url %> </div>
      <% } %>
  </div>
	
  </body>
</html>
